<footer >
    <div class="footer line">
      <div class="footer_logo">
        <div>
            <img class="logo_uca" src="/assets/images/cadiz-universidad.jpg" alt="logo universidad de Cádiz">
        </div>
        <div>
            <img class="logo_ue" src="/assets/images/eu-photo.png" alt="logo Unión Europea">
        </div>
      </div>
      
      <div class="footer_text">
        <ul>
          <li>Marie Curie Słodowska Individual Fellowship</li>
          <li>The politeness system and the emergence of a Sprachbund</li>
          <li>© Víctor Lara Bermejo</li>
        </ul>
      </div>
    </div>  
    
  </footer>
