<main class="main">
  <div class="linksInfo">
    <h1 class="linksInfo_title">Links</h1>
    <div class="containerLinks">
      <ul>
        <li style="list-style: circle;">
          <p class="linksInfo_text"> Below, you can find relevant computer programmes to draw linguistic maps both online and offline:</p>
        </li>
      </ul>
      <div class="externalLinks">
        <div class="linksContainer">
          <a class="linksExternal" href="https://gabmap.nl/" target="_blank"> https://gabmap.nl/</a> <span class="textDescriptionLinks"> (you only need Google Earth and Excel)</span>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="https://gisgeography.com/" target="_blank">https://gisgeography.com/</a>
        </div>
      </div>
    </div>
    <!-- segundo bloque -->
    <div class="containerLinks">
      <ul>
        <li style="list-style: circle;">
          <p class="linksInfo_text">Below, you can find interesting websites about geolinguistics and politeness:</p>
        </li>
      </ul>
      <div class="externalLinks">
        <div class="linksContainer">
          <a class="linksExternal" href="http://www.geo-linguistics.org/" target="_blank">http://www.geo-linguistics.org/</a>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="https://inarweb.wordpress.com/" target="_blank">https://inarweb.wordpress.com/</a>
        </div>
      </div>
    </div>
    <!-- tercer bloque -->
    <div class="containerLinks">
      <ul>
        <li style="list-style: circle;">
          <p class="linksInfo_text">Below, you can find open access literature about politeness and forms of address in Ibero-Romance:</p>
        </li>
      </ul>
      <div class="externalLinks">
        <div class="linksContainer">
          <a class="linksExternal" href="https://www.degruyter.com/view/title/573880" target="_blank">https://www.degruyter.com/view/title/573880</a> <span class="textDescriptionLinks">(Address in
            Portuguese and Spanish Studies in Diachrony and Diachronic Reconstruction)</span>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="https://www.peterlang.com/view/title/67923?format=EPDF" target="_blank">https://www.peterlang.com/view/title/67923?format=EPDF</a> <span
            class="textDescriptionLinks">(La cortesía en la Península Ibérica: dialectología del Sprachbund suroccidental)</span>
        </div>
      </div>

    </div>
    <!-- cuarto bloque -->
    <div class="containerLinks">
      <ul>
        <li style="list-style: circle;">
          <p class="linksInfo_text">Below, you can find Ibero-Romance corpora:
          </p>
        </li>
      </ul>
      <div class="externalLinks">
        <div class="linksContainer">
          <a class="linksExternal" href="http://www.corpusrural.es/ " target="_blank">http://www.corpusrural.es/</a> <span class="textDescriptionLinks">(Peninsular Spanish)</span>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="http://clul.ulisboa.pt/en/recurso/cordial-sin-syntax-oriented-corpus-portuguese-dialects "
            target="_blank">http://clul.ulisboa.pt/en/recurso/cordial-sin-syntax-oriented-corpus-portuguese-dialects</a> <span class="textDescriptionLinks">(European Portuguese)</span>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="http://ilg.usc.gal/corilga/ " target="_blank">http://ilg.usc.gal/corilga/</a> <span class="textDescriptionLinks">(Galician)</span></div>
        <div class="linksContainer">
          <a class="linksExternal" href="http://www.ub.edu/cccub/corpusoraldialectal-cod.html" target="_blank">http://www.ub.edu/cccub/corpusoraldialectal-cod.html</a> <span
            class="textDescriptionLinks">(Catalan)</span>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="http://stel.ub.edu/dialcat/" target="_blank">http://stel.ub.edu/dialcat/</a> <span class="textDescriptionLinks">(Catalan)</span>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="http://www.frontespo.org/" target="_blank">http://www.frontespo.org/</a> <span class="textDescriptionLinks">(Border Spain-Portugal)</span>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="https://preseea.linguas.net/" target="_blank">https://preseea.linguas.net/</a> <span class="textDescriptionLinks">(Urban Hispanic world)</span>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="http://ps.clul.ul.pt/" target="_blank">http://ps.clul.ul.pt/</a> <span class="textDescriptionLinks">(Diachronic European Portuguese and Peninsular
            Spanish)</span>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="http://www.alpi.csic.es/" target="_blank">http://www.alpi.csic.es/</a> <span class="textDescriptionLinks">(Early 20th-century Ibero-Romance)</span>
        </div>
        <div class="linksContainer">
          <a class="linksExternal" href="https://www.cordiam.org/" target="_blank">https://www.cordiam.org/</a> <span class="textDescriptionLinks">(Diachronic Hispanic American Spanish)</span>
        </div>
      </div>
   
    
    </div>

  </div>

</main>