<main class="main">
  <div class="projectInfo">
      <div>
          <h1 class="project_title" >The politeness system and the emergence of a Sprachbund</h1>
          <p class="project_text">The great enigma of both the Spanish and Portuguese languages is the enormous complexity of their system of pronouns of address throughout their geographical areas. Despite the number of studies that have analysed the usage of the different alternatives, it is still a mystery why this feature has given rise to three main regions that are not even individually homogeneous. The Atlantic Ocean emerges as the boundary that splits the American and the European realities, but the south-western area of the Iberian Peninsula shows a mixed system that combines characteristics of both areas. The literature agrees in pinpointing a conjoint evolution in the Hispanic and Lusophone world, but everything changes in the 1700’s.
          </p>
        </div>
        <div class="projectMedia" >
            <div class="projectMedia_first"  >
                  <p class="project_text" >The War of Spanish Succession (1700-1714) resulted in the overthrow of the Habsburgs and the new reign of the Bourbons. Their establishment in the Hispanic world marked the beginning of France as the centre of prestige for the entire territory as well as the gradual decay of the southwest as a hub between America and Europe. By the early 19th century, the American possessions declared independence and Madrid became the focus of prestige within Spain. The same applies to Portugal, which lost Brazil, and Lisbon became the epicentre of prestige and encouraged the colonisation of Africa.</p>
                  <img class="project_media" src="./assets/images/cadiz.png" alt="">
            </div>
                <div class="project_mediaHouse">
                    <img class="project_media" src="./assets/images/Merchant's_house.png" alt="">
                </div>  
            </div>
            <div>
                <p class="project_text" >The late 18th century and the early 19th century attested profound changes in society as a result of two very important events: the Industrial Revolution and the French Revolution. The former provoked the exodus from the countryside to the city and the emergence of the middle class; the latter changed the beliefs of western societies and the way people had to address each other. Politeness started to favour solidarity and to gradually dismiss hierarchy and deference. Simultaneously, western countries promoted the creation of standard languages, prompting a type of diglossia between standard and vernacular, urban and rural, literate and illiterate…
                  </p>
                 <p class="project_text"> 
                        All these events materialised at the same time as America and the Iberian Peninsula followed different political paths. Nevertheless, the southwest maintained the secular relationships that had linked it to the other side of the Atlantic although it began to look at other places within Iberia. The 1700’s and 1800’s witnessed the decline of the southwest after centuries of prestige, the reciprocal isolation between the Hispanic and Lusophone Atlantic shores, and the creation of three macro-areas that embody the system of forms of address. But, above all, the 18th and 19th centuries represented the time period in which the south-western Sprachbund ended up establishing itself as a region of its own that has exhibited both American and European linguistic features until the present.
                 </p>
                 <p class="project_text" >
                        This project aims to find the geographical, sociological, political, pragmatic and grammatical patterns that favoured the emergence and later establishment of the south-western Sprachbund. In order to do so, I will research data that account for the evolution of the system of forms of address in the 18th and 19th centuries in western Andalusia and southern Portugal. My investigation will shed light on the likely influence of the other Ibero-Romance languages and the mutual conditioning of Portuguese and Spanish, but it will also determine whether the New World and the south-western Sprachbund have influenced one another despite the American independences or either of them has taken the lead over the other.
                 </p>
                 <p class="project_text" >
                        I invite you to dive into the complexity of politeness and forms of address, because they reflect much more than a simple strategy of treatment: they conceal the way a society thinks, they hint at geopolitical relationships, they reveal our beliefs.
                 </p>
            </div>
        </div>
  </div>
    
</main>