<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> Southwest - The politeness system and the emergence of a Sprachbund</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_footer.html" label="Footer"></partial>
      
    </div>
  </body>
</html>
