@import 'core/variables';

// .footer{
//   height: 10vh;
// }


.footerContainer{
  
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  @media all and (max-width:750px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}  
}
.line{
  border-top: 3px solid #cfa028;
  display: flex;
  flex-direction: row;
}

.footerContainer_logos{
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media all and (max-width:770px){
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}

  


.footer_logo{
  display: flex;
  flex-direction: row;
 justify-content: center;
 }

.logo_uca{
  width: 100%;
}
.logo_ue{
  width:  100%;
}
.footer_text{
  color:#03195a;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 12px;
  line-height: 20px;
  padding-right: 20px;
  @media all and (max-width:750px){
    font-size: 11px;
    line-height: 14px;
    padding-left: 20px;
  }

}