@import 'core/variables';

.main{
  width: 100%;
}
.linksInfo{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.linksInfo_title{
  font-family: $font_family;
  font-size: 30px;
  padding-top: 25px;
  width: 100%;
  border-bottom: 2px solid $general-color;
  color:$general-color;

  @media all and (max-width:770px){
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }

}
.containerLinks{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media all and (max-width:770px){
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.linksInfo_text{
  width: 100%;
  font-family: $font_family;
  font-size: 18px;
  padding-left:12px;
  padding-right: 12px;
  color:$color-text;
  margin: 0;
  line-height: 1.3;
  text-align: justify;
  
  @media all and (max-width:770px){
    font-size: 17px;
    padding-left: 12px;
    padding-right: 12px;
}
}

.linksContainer{
  width: 100%;
  
  @media all and (max-width:770px){
    display: flex;
    // height: 80px;
    width: 100%;
    flex-direction: column;
    font-size: 17px;
    padding-left: 12px;
    padding-right: 12px;
}

}

.linksExternal{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left:12px;
  padding-right: 12px;
  text-decoration: underline  $color-text;
  color: #4d5763;
  font-weight: 100;
  font-family: $font_family;
  font-size: 18px;
  @media all and (max-width:770px){
    width: 50%;
  
}
}
.textDescriptionLinks{

  width: 100%;
  color: $color-text;
  font-family: $font_family;
  font-size: 18px;
  padding-left: 15px;
  @media all and (max-width:770px){
    font-size: 17px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
}

}